<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login </title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Ingresa</h1>

    <form action="" method="post">
        <label for="email">Ingresa tu email</label>
        <input type="email" id="email" name="email">
        <p><%= locals.errors && errors.email ? errors.email.msg : null %></p> 


		<label for="password">Ingresa tu Contraseña</label>
        <input type="password" id="password" name="password">
        <p><%= locals.errors && errors.password ? errors.password.msg : null %></p>

        <button type="submit">Enviar</button>

        <p>¿No estás registrado? <a href="/users/register">Registrate</a></p>
    </form>
	
</body>
</html> <!---->